.home_screen {
    width: 100%;
    height: 100vh;
    background-color: grey;
}

.home_screen .top_area {
    width: 100%;
    height: 30vh;
    background-color: aqua;
    display: flex;
}

.top_area, .bottom_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: start; */
}

.input_area, .drop_area {
    margin-top: 20px;
    display: flex;
    width: 80%;
}

.url_input {
    --radius: 10px;
    padding: 10px;
    width: 80%;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: var(--radius) 0 0 var(--radius);
}

.input_area > button {
    --radius: 10px;
    padding: 10px 20px;
    border-radius: 0 var(--radius) var(--radius) 0;
    border: 2px solid black;
    outline: none;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
}

.input_area > button:hover {
    background-color: rgb(163, 163, 163);
}

.drop_area {
    height: 250px;
    background-color: blanchedalmond;
}

